.container {
  position: sticky;
  top: 0;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.logo {
  display: flex;
  align-items: center;

  svg {
    margin-right: 16px;
  }
}
